<h1><%= @stylist.name() %></h1>

<form action="/stylist/<%= @stylist.id %> "method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="stylist_name">Stylist's new name:</label>
  <input id="new_name" name="new_name" type="text">

  <button type="submit" class="btn btn-success">Change</button>
</form>

<% if @stylist.clients().any?() %>

  <h3>Here are all of this stylist's clients:</h3>

  <ul>
    <% @stylist.clients().each() do |client| %>
      <li><%= client.name() %></li>
    <% end %>
  </ul>
<% else %>
  <p><a href="/clients">Add clients here</a></p>
<% end %>

<a href = "/"> Home </a>
